.bg-form {
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #8db4b1,
    #687ea8,
    #676797
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #8db4b1,
    #687ea8,
    #676797
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
