/* .body {
  background-image: url("../src/images/bg-image5.jfif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  color: rgb(127, 161, 255);
} */

.body {
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #97e8e2,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

